<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Vimont Toyota Backbone.js Application</title>
</head>
<body>

<div id="header">
  <div id="logo">
    <a href="http://vimonttoyotalaval.com">Vimont Retour</a>
  </div>
  <div id="sections">
    <div class="section">Produits financiers</div>
  </div>
</div>

<script type="text/template" id="view-sections">
</script>

<div id="screen">screen</div>

<script type="text/template" id="view-video">
<video poster="<%= poster %>">
  <% _.each(sources, function (source, type) { %>
    <source type="<%= type %>" src="<%= source %>"/>
  <% }); %>
</video>
</script>

<div id="footer">
  <div id="controls">
    <div id="timeline">
      <div id="timeline-buffer"></div>
      <div id="timeline-duration"></div>
      <div id="timeline-title"></div>
    </div>
    <div id="controls-play">play</div>
    <div id="controls-back">back</div>
    <div id="controls-next">next</div>
  </div>

  <ul id="playlist">

  </ul>
</div>

<script type="text/template" id="view-playlist">
  <img class="playlist-capsule-thumbnail" src="<%= poster %>"/>
  <div class="playlist-capsule-title"><%= title %></div>
  <input type="checkbox" checked/>
</script>
<script type="text/template" id="view-controls">
</script>

<script src="js/jquery-1.11.0.js"></script>
<script src="js/underscore.js"></script>
<script src="js/backbone.js"></script>

<script>

// Load all capsules into a collection

var Capsule = Backbone.Model.extend({
  defaults: {
    "title" : "Untitled",
    "section" : "Other",
    "duration" : 0,
    "buffer" : 0,
    "seek" : 0,
    "inPlaylist" : true
  }
});

var Playlist = Backbone.Collection.extend({
  model: Capsule
});


// Contains the video player
var VideoView = Backbone.View.extend({
  tagName: "div",
  className: "innerScreen",
  template: _.template($("#view-video").html()),
  events: {},
  initialize: function() {
    //
  },
  render: function () {
    this.$el.html(this.template(this.model.toJSON()));
    this.video = this.$el.find("video").get(0);
    return this;
  },
  togglePlay: function () {
    if(this.video.paused) {
      this.video.play();
    } else {
      this.video.pause();
    }
    return this.video.paused;
  }
});

// Contains the playlist of available capsules
var PlaylistView = Backbone.View.extend({
  tagName: "li",
  className: "playlist-view",
  template: _.template($("#view-playlist").html()),
  events: {
    "click" : "loadCapsule",
    "click .toggle" : "toggleList"
  },
  render: function () {
    this.$el.html(this.template(this.model.toJSON()));
    return this;
  },

  initialize : function () {
    // Listen to the model to pick up playing or stopped
  },
  loadCapsule : function () {
    // Send a message to the AppView to play this capsule
    this.trigger('vimont:play', this);
  },
  toggleList : function () {
    // Add or remove the model from the playlist
  }

});
// Builds the global App
var AppView = Backbone.View.extend({
  el: $("body"),
  events : {
    "click #controls-play" : "togglePlay",
    "click #controls-next" : "nextCapsule",
    "click #controls-back" : "previousCapsule"
  },
  initialize : function () {
    this.openScreen(playlist.at(0));
    this.fillPlaylist();
  },
  fillPlaylist : function () {
    this.$("#playlist").empty();
    playlist.each(this.addPlaylistItem, this);
  },
  addPlaylistItem : function (capsule) {
    var view = new PlaylistView({model: capsule});
    this.listenTo(view, "vimont:play", this.loadCapsule);
    this.$("#playlist").append(view.render().el);
  },
  loadCapsule: function (capsule) {
    this.openScreen(capsule.model);
  },
  openScreen: function (activeModel) {
    $("#screen").html("");
    this.screen = new VideoView({model: activeModel});
    $("#screen").html(this.screen.render().el);
    $("#timeline-title").html(activeModel.get('title'));
  },
  togglePlay: function () {

    if(this.screen.togglePlay()) {
      $("#controls-play").addClass("paused");
    } else {
      $("#controls-play").removeClass("paused");
    }
  }
});

// Must load this from the included JSON data
var playlist = new Playlist;

var playlistData = [
  {
    "title" : "Capsule 1",
    "poster" : "http://sandbox.thewikies.com/vfe-generator/images/big-buck-bunny_poster.jpg",
    "sources" : {
      "video/mp4" : "http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4",
      "video/webm" : "http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm",
      "video/ogg" : "http://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv"
    }
  }
  ,{
    "title" : "Capsule 2",
    "poster" : "http://sandbox.thewikies.com/vfe-generator/images/big-buck-bunny_poster.jpg",
    "sources" : {
      "video/mp4" : "http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4",
      "video/webm" : "http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm",
      "video/ogg" : "http://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv"
    }
  }
  ,{
    "title" : "Capsule 3",
    "poster" : "http://sandbox.thewikies.com/vfe-generator/images/big-buck-bunny_poster.jpg",
    "sources" : {
      "video/mp4" : "http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4",
      "video/webm" : "http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm",
      "video/ogg" : "http://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv"
    }
  }
  ,{
    "title" : "Capsule 4",
    "poster" : "http://sandbox.thewikies.com/vfe-generator/images/big-buck-bunny_poster.jpg",
    "sources" : {
      "video/mp4" : "http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4",
      "video/webm" : "http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm",
      "video/ogg" : "http://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv"
    }
  }
  ,{
    "title" : "Capsule 5",
    "poster" : "http://sandbox.thewikies.com/vfe-generator/images/big-buck-bunny_poster.jpg",
    "sources" : {
      "video/mp4" : "http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4",
      "video/webm" : "http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm",
      "video/ogg" : "http://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv"
    }
  }
];

playlist.add(playlistData);

var appView = new AppView();

</script>

<style type="text/css">
  body {
    background: black;
    color: white;
    font-family: sans-serif;
  }
  video {
    width: 960px;
    height: 540px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  ul {
    padding: 0;
  }
  .playlist-view {
    width: 20%;
    display: inline-block;
  }
</style>
</body>
</html>
