<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="initial-scale=1,width=device-width,maximum-scale=1">
  <title>Vimont Toyota Laval - Chaînes vidéos</title>

  <script src="js/jquery-1.11.0.js"></script>
  <script src="js/underscore.js"></script>
  <script src="js/backbone.js"></script>
  <script src="playlist-data.js"></script>
  <script src="js/mediaelement/mediaelement-and-player.js"></script>
  <link rel="stylesheet" href="js/mediaelement/mediaelementplayer.css" />
  <link rel="stylesheet" href="theme.css" />
</head>
<body>

<div id="header">
  <div id="logo">
    <a href="http://vimonttoyotalaval.com">Retour à Vimont Toyota Laval</a>
  </div>
  <div id="sections">
    <script type="text/template" id="view-sections">
      <a class="section"><%= section %></a>
    </script>
  </div>
</div>

<div id="main-view">
  <div id="controls">
    <a id="controls-back">précédent</a>
    <a id="controls-next">suivant</a>
    <div id="timeline">
      <div id="timeline-buffer"></div>
      <div id="timeline-duration"></div>
      <div id="timeline-title"></div>
    </div>
  </div>

  <div id="screen">
  </div>

  <script type="text/template" id="view-video">
  <video id="media-element" poster="<%= poster %>" controls height="100%" width="100%">
    <% _.each(sources, function (source, type) { %>
      <source type="<%= type %>" src="<%= source %>"/>
    <% }); %>
  </video>
  </script>

</div>

<div id="sidebar">
  <ul id="playlist">
  </ul>
  <a id="advanced-playlist">...</a>
</div>

<script type="text/template" id="view-playlist">
  <img class="playlist-capsule-thumbnail" src="<%= poster %>"/>
  <div class="playlist-capsule-title"> <input class="toggle-in-playlist" type="checkbox" <%= inPlaylist ? "checked='checked'" : "" %>/> <%= title %></div>

</script>
<script type="text/template" id="view-controls">
</script>

<script>

var Capsule = Backbone.Model.extend({
  defaults: function () {
    return {
      "title" : "Untitled",
      "section" : "Other",
      "duration" : 0,
      "buffer" : 0,
      "seek" : 0,
      "inPlaylist" : true
    };
  },

  toggleInPlaylist: function () {
    this.set({inPlaylist: !this.get("inPlaylist")});
    return this.get("inPlaylist");
  }
});

var Playlist = Backbone.Collection.extend({
  model: Capsule,
  initialize: function () {
  },
  selected: function () {
    return this.where({inPlaylist: true});
  },
  toggleSection: function (newSection) {
    // Set all videos in the section to on
    _(this.where({section: newSection})).each(function (capsule) {
      capsule.set('inPlaylist', true);
    })
    // Set all videos out of the section to off
    _(this.filter(function (capsule) {
      return capsule.get('section') != newSection;
    })).each(function (capsule) {
      capsule.set('inPlaylist', false);
    })
  },
  // Find the next neighbor in the global playlist
  // Build a list of capsules after and before the active capsule
  rotate: function (capsule) {
    var idx = this.indexOf(capsule);
    return _.union(this.rest(idx + 1), this.first(idx));
  },
  next: function(capsule) {
    return _(this.rotate(capsule)).find(function (neighbor) {
      return neighbor.get('inPlaylist');
    });
  },
  previous: function(capsule) {
    return _(this.rotate(capsule).reverse()).find(function (neighbor) {
      return neighbor.get('inPlaylist');
    });
  }
});

// Contains the video player
var VideoView = Backbone.View.extend({
  el: $("#screen"),
  template: _.template($("#view-video").html()),
  events: {
  },
  initialize: function() {
    this.render();
    this.on("vimont:canplay", this.videoCanPlay);
  },
  render: function () {
    var self = this;
    this.$el.html(this.template(this.model.toJSON()));

    this.player = new MediaElementPlayer("#media-element", {
      iPadUseNativeControls: true,
      iPhoneUseNativeControls: true,
      features: ['playpause', 'progress' ,'volume'],
      success: function (player, node) {
        self.player = player;
        player.addEventListener('ended', function (e) {
          self.trigger('vimont:ended', e);
        });
        player.addEventListener('canplay', function (e) {
          self.trigger('vimont:canplay', e);
        });
        player.addEventListener('play', function (e) {
          self.trigger('vimont:playing', e);
        });
        self.player = player;
      }
    });

    return this;
  },
  destroy: function () {
    if (mejs) {
      var players = _.keys(mejs.players);
      _.each(players, function(player) {
          mejs.players[player].remove();
      });
    }
  },
  loadCapsule: function (capsule) {
    this.model = capsule;
    this.player.pause();
    this.player.setSrc(
      _(capsule.get('sources')) // Transmute our data into the mejs format
      .chain()
      .pairs()
      .map(function (source) {return _.object(['type', 'src'], source)})
      .value()
      );
    this.player.setPoster(capsule.get('poster'));
  },
  togglePlay: function () {
    this.player.play();
  },
  videoCanPlay: function (event) {
  }
});

// Contains the playlist of available capsules
var PlaylistView = Backbone.View.extend({
  tagName: "li",
  className: "playlist-view",
  template: _.template($("#view-playlist").html()),
  events: {
    "click" : "loadCapsule",
    "click .toggle-in-playlist" : "toggleInPlaylist"
  },
  render: function () {
    this.$el.html(this.template(this.model.toJSON()));
    return this;
  },

  initialize : function () {
    // Listen to the model to pick up changes in playlist state
    this.listenTo(this.model, "change:inPlaylist", function () {
      if(!this.model.get('inPlaylist')) {
        this.$el.addClass("out-of-playlist");
      } else {
        this.$el.removeClass("out-of-playlist");
      }
      this.render();
    });
  },
  loadCapsule : function () {
    // Send a message to the AppView to play this capsule
    this.trigger('vimont:play', this);
  },
  // Add or remove the model from the playlist
  toggleInPlaylist : function (e) {
    e.stopImmediatePropagation();
    this.model.toggleInPlaylist();
    this.trigger('vimont:changePlayqueue', this);
  }
});

// Builds the global App
var AppView = Backbone.View.extend({
  el: $("body"),
  events : {
    "click .section" : "toggleSection",
    "click #controls-play" : "togglePlay",
    "click #controls-next" : "nextCapsule",
    "click #controls-back" : "previousCapsule",
    "click #advanced-playlist" : "advancedPlaylist"
  },
  initialize : function () {
    this.fillPlaylist();
    this.fillSections();
  },
  fillPlaylist : function () {
    this.$("#playlist").empty();
    playlist.each(this.addPlaylistItem, this);
  },
  fillSections : function () {
    var sectionTemplate = _.template($("#view-sections").html());

    _(playlist.pluck("section")).chain()
    .uniq()
    .each(function (section) {
      this.$("#sections").append(
        sectionTemplate(
          {"section" : section}
        )
      );
    });
  },
  addPlaylistItem : function (capsule) {
    var view = new PlaylistView({model: capsule});
    this.listenTo(view, "vimont:play", this.loadCapsule);
    this.listenTo(view, "vimont:changePlayqueue", this.navigateQueue);
    this.$("#playlist").append(view.render().el);
  },
  navigateQueue: function () {
    // If all active capsules have the same section, use that as the url
    var sections = _(playlist.selected())
    .chain()
    .map(function (a) {return a.get('section')})
    .uniq()
    .value();

    if (playlist.selected().length == playlist.length) {
      var destination = "/";
    } else if ( // All items in a playlist are active
      sections.length == 1 &&
        playlist.where({inPlaylist: true, section: sections[0]}).length == playlist.where({section: sections[0]}).length
      ) {
      playlistRouter.navigateToSection(sections[0]);
      return;
    }
    else {
      var destination = _.reduce(playlist.selected(), function (url, obj) {
        return url + "/" + obj.get('path');
      }, "");
    }

    playlistRouter.navigate(destination, {trigger: false, replace: true});
  },
  loadCapsule: function (capsule) {
    this.openScreen(capsule.model);
  },
  openScreen: function (activeModel) {
    // The playqueue returned nothing active
    if (activeModel == null) return;
    // Clean up lingering mediaelement player
    if (typeof this.screen !== "undefined") {
      this.screen.loadCapsule(activeModel);
    } else {
      this.screen = new VideoView({model: activeModel});
      this.listenTo(this.screen, "vimont:ended", this.endCapsule);
      this.listenTo(this.screen, "vimont:playing", this.resumed);
    }

    $("#timeline-title").html(activeModel.get('title'));

  },
  toggleSection: function (e) {
    // Update the playlist with right sections
    playlist.toggleSection(e.target.innerHTML);
    // Navigate to the section
    playlistRouter.navigateToSection(e.target.innerHTML);
  },
  advancedPlaylist: function (e) {
    $("#sidebar").toggleClass("advanced");
  },
  togglePlay: function () {
    if(this.screen.togglePlay()) {
      $("#controls-play").addClass("paused");
    } else {
      $("#controls-play").removeClass("paused");
    }
  },
  endCapsule: function () {
    this.nextCapsule();

    // Set a timer to start the video
    var size = 0;
    clearInterval(this.startDelay);
    $("#timeline-duration").fadeIn();
    var self = this;
    this.startDelay = setInterval(function () {
      size += 1;
      $("#timeline-duration").width(size + "%");
      if(size >= 100) {
        clearInterval(self.startDelay);
        self.togglePlay();
        $("#timeline-duration").fadeOut();
      }
    }, 5000 / 100);
  },
  resumed: function () {
    clearInterval(this.startDelay);
    $("#timeline-duration").fadeOut();
  },
  nextCapsule: function () {
    // Move active screen in collection, or wrap to start
    this.openScreen(playlist.next(this.screen.model));
  },
  previousCapsule: function () {
    // Move active screen in collection, or wrap to end
    this.openScreen(playlist.previous(this.screen.model));
  }
});

var PlaylistRouter = Backbone.Router.extend({
  routes: {
    "*capsules": "customList"
  },
  initialize: function () {
    //Make some nice routes out of playlist sections
    var rawSections = _(playlist.pluck("section")).uniq();
    this.sections = _(rawSections).chain()
    .map(function (section) {
      var sectionPath = section.replace(/\s+/g, '-').toLowerCase();
      return sectionPath;
    }).value();
    this.sections = _.object(rawSections, this.sections);
  },
  navigateToSection: function (section) {
    this.navigate(this.sections[section], {trigger: false, replace: true});
  },
  customList: function (capsules) {
    if(capsules) {
      // If requesting a section, load all its capsules
      if(_.contains(this.sections, capsules)) {
        playlist.toggleSection(_(this.sections).invert()[capsules]);
      } else {
        // Otherwise load individual capsules
        var notInQueue = _.difference(playlist.pluck("path"), capsules.split(/\//));
        _.each(notInQueue, function (p) {
          _(playlist.where({path: p})).each(function(outOfPlaylist) {
            outOfPlaylist.toggleInPlaylist();
          });
        });
      }
    }

    // Open the first active capsule
    appView.openScreen(playlist.selected()[0]);
  }
});

// Must load this from the included JSON data
var playlist = new Playlist();

playlist.add(playlistData);

var appView = new AppView();

$(function () {
  window.playlistRouter = new PlaylistRouter();
  Backbone.history.start();
});
</script>
</body>
</html>
