@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300);
  body {
    background: white;
    color: gray;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    line-height: 1em;
    margin: 0;
    padding: 0;
  }

  a:link, a:hover, a:active, a:visited {
    color: #aa0000;
    text-decoration: none;
  }
  #header {
    position: fixed;
    top: 0;
    left: 0;
    right: 20%;
    z-index: 1000;
    height: 45px;
    line-height: 45px;
    background: #eee;
    text-align: center;
  }
  #header:before {
    content: " ";
    display: table;
  }
  #header a {
    padding: 0 15px;
  }
  #sections {
    margin-right: 10px;
  }
  #sections a {
    padding: 2px 15px;
    margin: 0 0 0 5px;
    border: 1px solid gray;
    cursor: pointer;
  }
  #logo {
    float: left;
  }
  #sections {float: right;}

  #main-view {
    position: fixed;
    margin-right: 20%;
    margin-top: 45px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
  }
  #screen {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    height: 0;
    padding-bottom: 56.25%;
    width: 100%;
    margin: auto;
  }
  video {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  .playlist-view {
    width: 100%;
    display: inline-block;
  }
  .playlist-view.out-of-playlist {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    background: black;
  }
  .advanced .playlist-view.out-of-playlist {
    position: static;
    visibility: visible;
  }
  .playlist-view.out-of-playlist img {
    opacity: .5;
  }
  .playlist-capsule-title {
    padding: 15px;
  }
  .toggle-in-playlist {
    display: none;
  }
  .advanced .toggle-in-playlist {
    display: inline;
  }
  #advanced-playlist {
    position: fixed;
    top: 0;
    display: block;
    line-height: 45px;
    width: 20%;
    background: #eee;
    opacity: .85;
  }
  .advanced #advanced-playlist {
    background: gray;
    color: white;
  }
  #sidebar {
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    width: 20%;
    z-index: 1000;
    background: rgba(0,0,0,.15);
    text-align: center;
    cursor: pointer;
    overflow: scroll;
    overflow-x:hidden;
  }
  #playlist {
    margin-top: 45px;
  }
  #controls {
    position: relative;
    width: 100%;
    height: 35px;
    line-height: 35px;
  }
  #controls-back {
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 0px 15px;
    background: rgba(255,255,255,.5);
  }
  #controls-next {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0px 15px;
    background: rgba(255,255,255,.5);
  }
  #timeline {
    width: 100%;
    text-align: center;
  }
  #timeline-duration {
    position: absolute;
    left: 0;
    top: 0px;
    height: 5px;
    width: 0;
    background: #ee0000;
    z-index: -1;
    display: none;
  }
  @media screen and (orientation: portrait) {
    #main-view {
      margin-right: 0;
    }
    #sidebar {
      left: 0;
      top: auto;
      width: 100%;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
    }
    #playlist {
      text-align: left;
    }
    .playlist-view {
      width: 40%; height: 100%;
      white-space: normal;
      vertical-align: top;
      display: inline-block;
      text-align: center;
    }
    #advanced-playlist {
      width: 100%;
    }
  }
  .mejs-container,
  .mejs-video video,
  .mejs-layer {
    max-width: 100%;
    height: auto;
    max-height: auto;
  }
